params {

    // ------------------------
    // Entrada
    // ------------------------
    input = 'data/*_{R1,R2}.fastq.gz'

    // ------------------------
    // Salida
    // ------------------------
    outdir = "results"

    // ------------------------
    // Contenedor Kraken2
    // ------------------------
    kraken2_container = 'quay.io/biocontainers/kraken2:2.1.5--pl5321h077b44d_0'

    // ------------------------
    // Base de datos Kraken2
    // Cambiar según cluster / PC
    // ------------------------
    kraken2_db = "${projectDir}/db/kraken_db"

    // ------------------------
    // Base de datos mlst
    // Cambiar según cluster / PC
    // ------------------------
    mlst_container = "docker.io/staphb/mlst:2.19.0"
    

    // El contenedor oficial de CheckM2
    checkm2_container = "staphb/checkm2:1.1.0"
    
    // Asegúrate de que la ruta de la DB también esté bien
    checkm2_db_file = "${projectDir}/db/checkm2_db/CheckM2_database/uniref100.KO.1.dmnd"
    
    bakta_container = "quay.io/biocontainers/bakta:1.12.0--pyhdfd78af_0"  
    
    bakta_db = "db/bakta_db/db-light"
    
    amrfinder_container = "staphb/ncbi-amrfinderplus:4.2.7-2026-03-24.1"
    




    // ------------------------
    // Threads
    // ------------------------
    kraken2_threads = 4
}



profiles {

    // ------------------------
    // LOCAL - Docker
    // ------------------------
    docker {
        process.executor = 'local'
        docker.enabled = true
        singularity.enabled = false
    }

    // ------------------------
    // HPC - Singularity
    // ------------------------
    
    singularity {
        process.executor = 'local'
        docker.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/.singularity"
        
        // Montar la DB completa de Bakta en /db dentro del contenedor
        // IMPORTANTE: apunta directamente a db-light
        
        singularity.runOptions = "-B ${projectDir}/${params.bakta_db}:/db"
        
    }

    // ------------------------
    // HPC - Singularity and slurm
    // ------------------------

    singularity_slurm {
        process.executor = 'slurm'
        process.queue = 'short'          // o la cola que uses en tu HPC
        process.cpus = 8
        process.memory = '64 GB'
        process.time = '12h'

        docker.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/.singularity"

        // Montar la DB de Bakta dentro del contenedor
        singularity.runOptions = "-B ${projectDir}/${params.bakta_db}:/db"
    }





    // ------------------------
    // DEBUG / fallback
    // ------------------------
    conda {
        process.executor = 'local'
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
    }
}