params {

    input = 'data/*_{R1,R2}.fastq.gz'
    outdir = "results"

    kraken2_container = 'quay.io/biocontainers/kraken2:2.1.5--pl5321h077b44d_0'
    kraken2_threads = 4
    kraken2_db = "${projectDir}/db/kraken_db"

    mlst_container = "docker.io/staphb/mlst:2.19.0"
    
    checkm2_container = "staphb/checkm2:1.1.0"
    checkm2_db_file = "${projectDir}/db/checkm2_db/CheckM2_database/uniref100.KO.1.dmnd"
    
    bakta_container = "quay.io/biocontainers/bakta:1.12.0--pyhdfd78af_0"  
    bakta_db = "db/bakta_db/db-light"
    
    amrfinder_container = "staphb/ncbi-amrfinderplus:4.2.7-2026-03-24.1"
    
    abricate_container = "staphb/abricate:1.0.0"

    mob_container = "quay.io/biocontainers/mob_suite:3.1.9--pyhdfd78af_1"
    
    kaptive_db = "${projectDir}/db/kaptive_db"
    kaptive_container = "staphb/kaptive:3.2.0"

    ectyper_container = "staphb/ectyper:2.0.0"

    pasty_container =  "staphb/pasty:2.2.1"

   
    
}



profiles {

    // ------------------------
    // LOCAL - Docker
    // ------------------------
    docker {
        process.executor = 'local'
        docker.enabled = true
        singularity.enabled = false
    }

    // ------------------------
    // HPC - Singularity
    // ------------------------
    
    singularity {
        process.executor = 'local'
        docker.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/.singularity"
        
        // MOUNT THE BAKTA DB (inside db-light) IN /db INSIDE THE CONTAINER  
        
        singularity.runOptions = "-B ${projectDir}/${params.bakta_db}:/db"
        
    }

    // ------------------------
    // HPC - Singularity and slurm
    // ------------------------

    singularity_slurm {
        process.executor = 'slurm'
        process.queue = 'short'          
        process.cpus = 8
        process.memory = '64 GB'
        process.time = '12h'

        docker.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/.singularity"

        // MOUNT THE BAKTA DB (inside db-light) IN /db INSIDE THE CONTAINER  
        singularity.runOptions = "-B ${projectDir}/${params.bakta_db}:/db"
    }





    // ------------------------
    // DEBUG / fallback
    // ------------------------
    conda {
        process.executor = 'local'
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
    }
}