params {

    // ------------------------
    // Entrada
    // ------------------------
    input = 'data/*_{R1,R2}.fastq.gz'

    // ------------------------
    // Salida
    // ------------------------
    outdir = "results"

    // ------------------------
    // Contenedor Kraken2
    // ------------------------
    kraken2_container = 'quay.io/biocontainers/kraken2:2.1.5--pl5321h077b44d_0'

    // ------------------------
    // Base de datos Kraken2
    // Cambiar según cluster / PC
    // ------------------------
    kraken2_db = "${projectDir}/db/kraken_db"

    // ------------------------
    // Threads
    // ------------------------
    kraken2_threads = 4
}

process {
    // Recursos por defecto
    cpus = 4
    memory = '8 GB'
}

profiles {

    // ------------------------
    // LOCAL - Docker
    // ------------------------
    docker {
        process.executor = 'local'
        docker.enabled = true
        singularity.enabled = false
    }

    // ------------------------
    // HPC - Singularity
    // ------------------------
    singularity {
        process.executor = 'local'   
        docker.enabled = false
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = "$HOME/.singularity"
    }

    // ------------------------
    // DEBUG / fallback
    // ------------------------
    conda {
        process.executor = 'local'
        conda.enabled = true
        docker.enabled = false
        singularity.enabled = false
    }
}